<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h2>Search Results</h2>

<a href="/inventory"><button>Back to Inventory</button></a>

<div>
    <table border="1">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Code</th>
            <th>Purchase Price</th>
            <th>Selling Price</th>
            <th>Number of Products</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.category.name}"></td>
            <td th:text="${product.code}"></td>
            <td th:text="${product.purchasePrice}"></td>
            <td th:text="${product.sellingPrice}"></td>
            <td th:text="${product.quantity}"></td>
            <td>
                <a th:href="@{/edit-product/{id}(id=${product.id})}">Edit</a>
                <a th:href="@{/delete-product/{id}(id=${product.id})}">Delete</a>
            </td>
        </tr>
        <tr th:if="${products.isEmpty()}">
            <td colspan="8">No products found</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
